build/*

!build/**/*.pdf
!build/*.pdf

__pycache__/
*.py[cod]

.DS_Store
.vscode

svg-inkscape
chimeraX/rfdiffusion_trajectories
chimeraX/af3_trajectories
chimeraX/rfdiffusion_trajectories.cxs
chimeraX/af3_trajectories.cxs